*{
  margin: 0;
  padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: expanded;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
  }

header, div.input-area, div.calculations{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header>p{
  margin: 1vw 10vw;
}

form{
  margin-top: 2vw;
}
form>input{
  width: 25vw;
  height: 4vw;
  font-size: 1.3em;
  text-align: center;
  margin-left: 10vw;
}

form>select{
  width: 11vw;
  height: 4vw;
  font-size: 0.7em;
  align-self: flex-end;  
}

table{
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
  font-size: 1.3em;
}

.row1>td, .row2>td, .row3>td{
  padding: 1rem;
  text-align: center;
}